<%= form_with(model: eeg_file, local: true) do |form| %>
  <% if eeg_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eeg_file.errors.count, "error") %> prohibited this eeg_file from being saved:</h2>

      <ul>
      <% eeg_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :host %>
    <%= form.text_field :host %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :mrn %>
    <%= form.text_field :mrn %>
  </div>

  <div class="field">
    <%= form.label :de_identified %>
    <%= form.check_box :de_identified %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
