<p id="notice"><%= notice %></p>

<div style='float: left'>
  <%= form_tag search_eeg_files_path, method: 'get' do %>
    <h1>EEG Files</h1> 
    Name <%= text_field_tag 'name', @name||'' %>
    Date From<%= text_field_tag 'from_date', @from_date||'', autocomplete: 'off' %>
    Date To<%= text_field_tag 'to_date', @to_date||'', autocomplete: 'off' %>
    <%= submit_tag 'Search'%>
  <% end %>
</div>
<div style='clear:both'></div>
<br>

<hr>
<% if @eeg_files.present? %>
<table id='file_table'>
  <thead>
    <tr>
      <th>Path</th>
      <th>Type</th>
      <th>Name</th>
      <th>Date</th>
      <th>Mrn</th>
    </tr>
  </thead>

  <tbody>
    <% @eeg_files.each do |eeg_file| %>
      <tr>
        <td><%= eeg_file.path %></td>
        <td><%= eeg_file.file_type %></td>       
        <td><%= eeg_file.name %></td>
        <td><%= eeg_file.date %></td>
        <td><%= eeg_file.mrn %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<script>
  // $('#file_table').dataTable({
  //    "pageLength": 100
  // });
  $('#name').focus();
  $('#from_date, #to_date').datepicker({
    changeYear: true,
    changeMonth: true,
    dateFormat: 'yy-mm-dd',
    yearRange: '-122:+10'
  });
</script>