<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @eeg_file.path %>
</p>

<p>
  <strong>Type:</strong>
  <%= @eeg_file.type %>
</p>

<p>
  <strong>Host:</strong>
  <%= @eeg_file.host %>
</p>

<p>
  <strong>First name:</strong>
  <%= @eeg_file.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @eeg_file.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @eeg_file.middle_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @eeg_file.date %>
</p>

<p>
  <strong>Mrn:</strong>
  <%= @eeg_file.mrn %>
</p>

<p>
  <strong>De identified:</strong>
  <%= @eeg_file.de_identified %>
</p>

<%= link_to 'Edit', edit_eeg_file_path(@eeg_file) %> |
<%= link_to 'Back', eeg_files_path %>
